body {
    background-color: #222222;
    background-image: url('images/Rectangle 1.png');
    background-size: cover; /* Або інше значення, таке як 'contain' */
    background-position: center center;
    background-attachment: fixed; /* Якщо ви хочете фіксований фон при прокручуванні */
    color: white;
}

aside {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1600px;
    background-color: #000000;
    padding: 5px;
    box-sizing: border-box;
    /*justify-content: center;*/
}
aside h2 {
    color: #fedba5;
    margin-left: 650px;
    width: 200px;
}
aside button {
    background-color: #000000;
    color: #fedba5;
    border: none;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 15px;
    align-self: flex-start;
}
body img {
    width: 70px;
    margin-left: 500px;
}
body h1 {
    color: #fedba5;
    margin-top: 160px;
    text-align: center;
}
body p {
    color: #fedba5;
    width: 900px;
    margin-top: 50px;
    margin-left: 300px;
    text-align: center;
    font-size: 20px;
}
/* Add this to your existing CSS file or create a new one if needed */

.menu-overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    width: 200px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7); /* Set your desired background color and transparency */
    z-index: 1;
}

.nav-menu {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 120px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
    text-align: left;
    z-index: 2;
}

.nav-menu ul {
    margin-top: -60px;
    padding: 10px;
}

.nav-menu li {
    padding: 10px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Adjust the font size as needed */
}

.photo-container {
    padding-top: 70px;
    display: flex; /* Встановлюємо flex-контейнер */
    margin-right: 0px;
}
.photo-container img {
    width: 350px;
    margin: 10px;
}
.photo-container p {
    display: none;
}
.text {
    padding-top: 0px;
    display: flex; /* Встановлюємо flex-контейнер */
    margin-right: 0px;
}
.text p {
    margin: 0px;
    font-size: 24px;
}
.price {
    display: flex;
    margin: 0px;
    padding: 5px;
}
.price p {
    margin: 0px;
    font-size: 22px;

}
.btn {
    display: flex; /* Зробити flex-контейнер */
    justify-content: center; /* Вирівняти кнопки по центру */
    margin-top: 20px;
}
.order-buttons{
    display: none;
}
.order-button {
    padding: 10px 20px; /* Розміри кнопок */
    margin: 0 135px; /* Відступ між кнопками */
    text-decoration: none;
    color: #fedba5;
    background-color: #000000; /* Колір кнопок */
    border: none;
    border-radius: 5px; /* Закруглені кути */
    cursor: pointer;

}
body a {
    color: #fedba5;

}
.qr-code img {
    color: #fedba5;
    width: 200px;
}
.qr-code {
    color: #fedba5;
    margin-top: 35px;
    margin-left: 150px;
    margin-bottom: 210px;
}
.order {
    margin-top: 100px;
}
.order h1 {
    font-size: 13px;
}


@media screen and (max-width: 600px) {
    body {
        background-image: url('images/Rectangle 1-2.png');
        background-size: contain;
        background-attachment: scroll;
    }

    aside {
        display: flex;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 600px;
        background-color: #000000;
        padding: 5px;
        box-sizing: border-box;
        /*justify-content: center;*/
    }
    aside h2 {
        color: #fedba5;
        margin-top: 20px;
        margin-left: 65px;
        width: 20px;
        font-size: 17px;
    }
    aside button {
        background-color: #000000;
        color: #fedba5;
        border: none;
        font-size: 25px;
        margin-left: 0px;
        margin-top: 10px;
        align-self: flex-start;
    }
    body img {
        width: 50px;
        margin-left: 150px;
    }
    body h1 {
        color: #fedba5;
        margin-top: 160px;
        margin-left: 0px;
        text-align: center;
        width: 350px;
    }
    body p {
        color: #fedba5;
        width: 900px;
        margin-top: 0px;
        margin-left: 30px;
        text-align: center;
        font-size: 18px;
        width: 300px;
    }
    /* Add this to your existing CSS file or create a new one if needed */
    
    .menu-overlay {
        display: none;
        position: fixed;
        top: 0px;
        left: 0;
        width: 200px;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.7); /* Set your desired background color and transparency */
        z-index: 1;
    }
    
    .nav-menu {
        display: none;
        position: fixed;
        top: 60px;
        left: 0;
        width: 120px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.7);
        padding-top: 60px;
        text-align: left;
        z-index: 2;
    }
    
    .nav-menu ul {
        margin-top: -60px;
        padding: 10px;
    }
    
    .nav-menu li {
        padding: 10px;
    }
    
    .nav-menu a {
        color: #fff;
        text-decoration: none;
        font-size: 16px; /* Adjust the font size as needed */
    }
    
    .photo-container {
        flex-direction: column;
        padding-top: 70px;
        display: flex; /* Встановлюємо flex-контейнер */
        margin-right: 0px;
        margin-left: 20px;
    }
    .photo-container p {
        display: block;
        margin: 10px;
        text-align: center;
        font-size: 22px;
        margin-left: 10px;
    }
    .photo-container img {
        width: 320px;
        margin: 10px;
    }
    .text {
        display: none;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        display: flex; /* Встановлюємо flex-контейнер */
        margin-right: 0px;
        margin-left: 10px;
    }
    .text p {
        display: none;
        margin: 0px;
        font-size: 24px;
        
    }
    .price {
        flex-direction: column;
        justify-content: center;
        display: flex;
        padding: 5px;
    }
    .price p {
        display: none;
        margin: 0px;;
        font-size: 22px;
    
    }
    .btn {
        flex-direction: column;
        display: flex; /* Зробити flex-контейнер */
        justify-content: center; /* Вирівняти кнопки по центру */
        margin-top: 20px;
    }
    .order-buttons {
        display: block;
        width: 65px;
        text-align: center;
        padding: 10px 20px; /* Розміри кнопок */
        margin: 0 120px; /* Відступ між кнопками */
        text-decoration: none;
        color: #fedba5;
        background-color: #000000; /* Колір кнопок */
        border: none;
        border-radius: 5px; /* Закруглені кути */
        cursor: pointer;
    }
    .order-button {
        display: none;
        padding: 10px 20px; /* Розміри кнопок */
        margin: 0 135px; /* Відступ між кнопками */
        text-decoration: none;
        color: #fedba5;
        background-color: #000000; /* Колір кнопок */
        border: none;
        border-radius: 5px; /* Закруглені кути */
        cursor: pointer;
    
    }
    body a {
        color: #fedba5;
    
    }
    .qr-code img {
        color: #fedba5;
        width: 200px;
    }
    .qr-code {
        display: none;
        color: #fedba5;
        margin-top: 35px;
        margin-left: 150px;
        margin-bottom: 210px;
    }
    .order {
        margin-top: 100px;
    }
    .order h1 {
        font-size: 13px;
    }
}







  
  /* 
   Css Для форми замовлення

  form {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    width: 500px;
    margin-left: 510px;
  }
  
  label {
    margin-bottom: 8px;
    text-align: center;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fedba5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    color: #333;
  }*/
  
